@tailwind base;
@tailwind components;
@tailwind utilities;

.ocr-text-container,
#shadowRootContainer {
  display: none;
}

input.input:focus {
  outline: none;
}
.container {
  padding-inline: 0.5rem;
}
.two-line-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
